{% load threadedcommentstags %}
{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load avatar_tags %}
{% get_threaded_comment_tree for object as responses %}
{% autopaginate responses %}

<script type="text/javascript">
$(function(){
    $("h3.head").toggle(function(){
	     $("h3").next().hide();
	},function(){
	     $("h3").next().show();
	})
})
</script>
<h3 class="head">Comments:</h3>

<ul id="ajaxresponses" class="responses">
    {% for response in responses %}
        <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
            <div class="meta">
                <div class="avatar">{% avatar response.user 40 %}</div>
                <div class="details"><a href="{% url profile_detail response.user.username %}">{{ response.user }}</a></div>
                {{ response.date_submitted|date }}
            </div>
            <div class="bulk">
                <div class="body">{{ response.comment|urlize|linebreaks }}</div>
                {% ifequal user response.user %}
                <form id="commentdelform{{ response.id }}" method="POST" action="{% url tc_comment_delete response.id %}">
                    <input type="submit" value="{% trans "Delete Post" %}" />
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
	        <script type="text/javascript" charset="utf-8">               
		    $("#commentdelform{{ response.id }}").submit(function() {
			$('input[type=submit]').attr('disabled', 'disabled');
			$.ajax({
			    type: "POST",
			    data: $("#commentdelform{{ response.id }}").serialize(),
			    url: "{% url tc_comment_delete response.id %}",
			    cache: false,
			    dataType: "html",
			    success: successfunc,
                            error: failfunc
            		});
			return false;
		    });
		</script>                
                {% endifequal %}
                <a href="javascript:toggle_comment_form({{ response.id }})"  >{% trans "Reply to This Post" %}</a>
                <!-- <a href="{% get_comment_url object response %}" rel="facebox">{% trans "Reply to This Post" %}</a> -->
                <form class="hidden" method="POST" action="{% get_comment_url object response %}" id="comment_form_{{ response.id }}">
                    <div class="ctrlHolder">
                        <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                    </div>
                    <div id="tags" >
                        <input type="checkbox" name="items" value="synchronization"/>{% trans "Synchronize to your twitter" %}
                    </div>
                    <div class="form_block">
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <input type="submit" value="{% trans "Post Response" %}" />
                    </div>
                </form>
                <script type="text/javascript" charset="utf-8">               
		    $("#comment_form_{{ response.id }}").submit(function() {
			$('input[type=submit]').attr('disabled', 'disabled');
			$.ajax({
			    type: "POST",
			    data: $("#comment_form_{{ response.id }}").serialize(),
			    url: "{% get_comment_url object response %}",
			    cache: false,
			    dataType: "html",
			    success: successfunc,
                	    error: failfunc
            		});
			return false;
		    });
		</script>    
            </div>
        </li>
    {% endfor %}
</ul>

{% paginate %}

{% if user.is_authenticated %}
    <form id="uniForm" class="uniForm" method="POST" action="{% get_comment_url object %}">
        <fieldset class="inlineLabels">
            <div class="ctrlHolder">
                <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
            </div>
            <div id="tags" >
                   <input type="checkbox" name="items" value="synchronization"/>{% trans "Synchronize to your twitter" %}
            </div>
            <div class="form_block">
                <input type="hidden" name="next" value="{{ request.path }}" />
                <input type="submit" value="{% trans "Post Response" %}" />
            </div>
        </fieldset>
    </form>
<script type="text/javascript" charset="utf-8">

	function successfunc(html, textStatus) { 
		n = Number($('#commentCount').text());
		c = $(html).find('#ajaxresponses');  
		$('#ajaxresponses').html(c.html());
		//$('li[class$=clearfix]:last').after(c.html()); 
		$('#commentCount').text(n+1);
		$('input[type=submit]').removeAttr('disabled');
	}
	
	function failfunc(XMLHttpRequest, textStatus, errorThrown) {
		alert('Sorry, your comment was unable to be posted at this time. Please try later.');
    }
    
    function bindComment() {
        $("#uniForm").submit(function() {
            $('input[type=submit]').attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                data: $('#uniForm').serialize(),
                url: "{% get_comment_url object %}",
                cache: false,
                dataType: "html",
                success: successfunc,
                error: failfunc
            });
            return false;
        });
        
        
    }
    
    $(document).ready(function() {
        bindComment();
        
        //$("#loading").bind("ajaxSend", function() {
        //    $(this).show();
        //}).bind("ajaxComplete", function() {
        //    $(this).hide();
        //});
    });
</script>
{% else %}
    <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment</h3>
{% endif %}
