{% extends "site_base_business.html" %}

{% load uni_form %}
{% load i18n %}
{% load humanize %}
{% load comments_tag %}
{% load tagging_tags %}
{% load event_tags %}
{% load theme_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Event{% endblocktrans %} : {{ event.title }}{% endblock %}

{% block body %}
    <form class="uniForm" id="edit-profile" method="POST" action="">
        <div class="blog-event">
            <p>{% show_event event %}</p>
            {% ifequal event.owner_type 2 %}
                <div class="blog-meta"><p>Posted by: {% owner event %} on {{ event.publish|date }}</p></div>
            {% endifequal %}
            {% if is_manager %}
                <a href="{{ event.get_edit_url }}">Edit event</a><br />
            {% endif %}
            <div class="form_block">
                <input type="hidden" name="action" value="add_to_my_wishing_list" />
                <input type="submit" value="{% trans 'add to my wishing list' %}" />
            </div><br />
         </div>
    </form>
    
    <a>{% get_comment_count for event as commentcount %} {{ commentcount }} Comments</a>
    {% comments event %}
{% endblock %}