<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}pinax/css/datePicker.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery.datePicker-min.js"></script>
<script type="text/javascript">
$(window).ready(function(){
$('.date-pick').datePicker({clickInput:true});
});
</script>
</head>
<body>
<p>
  <input type="text" name="it" class="it date-pick" />
</p> 
</body>
</html>
